body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.plano-de-fundo {
    background-color: #f5f5f5;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
}

.add {
    position: relative;
    left: 3.5%;
}

.cor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 37.5%;
    width: 100px;
    height: 50px;
    margin: 20px;
}

.app {
    width: 60vw;
}

ul {
    list-style: none;
}

ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: 40px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    margin-bottom: 5px;
    padding: 5px;
}

li a {
    position: relative;
    left: 92%;
    justify-content: flex-end;
    color: #161616;
    box-shadow: #161616;
}